body {
}

.row
{
    height:10em;
    
}

.contPrimary
{
    width:50%;
    margin-left:25%;
    min-height: 26em;    
}

.contPrimaryTitle
{
    text-align:center;
    line-height:8em;
}

.contPrimaryItem
{
    width:50%;
    height:8em;
    float:left; 
}

.contDescription
{
    margin-left: 8%;
    float:left;  
    width: 70%;  
}

.contIcon
{
    width: 80px;
    height: 80px;
    overflow:hidden;
    float:left;
    border-radius: 40px; 
    -webkit-border-radius: 40px; 
    -moz-border-radius:40px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}

.aboutContIcon
{
    background-image: url('../Images/Sprite2.png');
    background-position: 0px 0px;
    height:40px;
    width:40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.aboutColour
{
    background-color: #30485b;
    }

/*.contIconAbout:hover
{
    background-image: url('../Images/Sprite.png');
    background-position: -66px 0px;
}*/

.contactContIcon
{
    background-image: url('../Images/Sprite2.png');
    background-position: -126px 0px;
    height:40px;
    width:40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.contactColour
{
    background-color: #598aad;
    }

/*.contIconContact:hover
{
    background-image: url('../Images/Sprite.png');
    background-position: -328px 0px;
}*/

.resumeContIcon
{
    background-image: url('../Images/Sprite2.png');
    background-position: 0px 0px;
    height:40px;
    width:40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/*.contIconResume:hover
{
    background-image: url('../Images/Sprite.png');
    background-position: -329px -66px;
}*/

.webContIcon
{
    background-image: url('../Images/Sprite2.png');
    background-position: -42px 0px;
    height:40px;
    width:40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.webColour
{
    background-color: #7c9453;
    }

/*.contIconWeb:hover
{
    background-image: url('../Images/Sprite.png');
    background-position: -66px -66px;
}*/

.homeContIcon
{
    background-image: url('../Images/Sprite2.png');
    background-position: -0px 0px;
    height:40px;
    width:40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/*.contIconHome:hover
{
    background-image: url('../Images/Sprite.png');
    background-position: -197px 0px;
}*/

.picsContIcon
{
    background-image: url('../Images/Sprite2.png');
    background-position: -84px 0px;
    height:40px;
    width:40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.picsColour
{
    background-color: #666286;
    }

/*.contIconInfo:hover
{
    background-image: url('../Images/Sprite.png');
    background-position: -197px -66px;
}*/

@media screen and (max-width: 1600px)
{
    
    .contPrimary
    {
        width:70%;
        margin-left:15%;
        min-height: 26em;    
    }
    .contPrimaryItem   
    {
        height: 9em;
    } 
}

@media screen and (max-width: 1200px)
{
    
    .contPrimary
    {
        width:80%;
        margin-left:10%;
        min-height: 26em;    
    }
    .contPrimaryItem   
    {
        height: 9em;
    } 
}


/* Tablet & iPad */
/*---------------*/
@media screen and (max-width: 960px){

   .contPrimary
    {
        width:90%;
        margin-left: 5%;
        position:relative;
        min-height: 34em;    
    }

    .contPrimaryItem
    {
        width:100%;
        float:left; 
        height: auto;
    }

    .contIcon
    {
        margin-left:0em;        
    }
    
    .contDescription
    {
        margin-left: 5%;
        float:left;  
        width: 70%;  
        text-align:left;
    }
}

/* Large phones */
/*--------------*/
@media screen and (max-width: 768px)
{
   .contPrimary
    {
        width:90%;
        margin-left:5%;          
    }
}

@media screen and (max-width: 600px)
{    
    .contPrimary
    {
        min-height: 36em;    
    }
}

/* Medium phones */
/*---------------*/
@media screen and (max-width: 480px){
    .contDescription
    {
        width: 55%;  
    }
    
    .contPrimary
    {
        min-height: 40em;    
    }
}

@media screen and (max-width: 400px){
    .contDescription
    {
        width: 55%;  
    }
    
    .contPrimary
    {
        min-height: 44em;    
    }
}

/* Small phones */
/*--------------*/
@media screen and (max-width: 320px){
    .contDescription
    {
        width: 100%;  
    }
    
    .contIcon
    {
        height:0em;       
    }
    
    .contPrimary
    {
        width:100%;
        margin-left:0%;
        min-height: 35em;    
    }
}


/* LINKS */

.contDescription a:link, .contDescription a:visited
{
    color: #696969 !important;
    text-decoration:none;
}

.contDescription a:hover
{
    color: #9a9a9a !important;
    text-decoration: underline;
}

.contDescription a:active
{
    color: #b9bba2 !important;
}